@import url("https://fonts.googleapis.com/css?family=Open+Sans|Orbitron");

:root {
  --primary-blue: #0e4c73;
  --secondary-blue: #0597f2;
  --monochrome-blue: #5095bf;
  --complimentry-green: #09806d;
  --complimentry-orange: #bf6f00;
  --bright-coral: #f23545;
}

body {
  background-color: var(--primary-blue);
  color: white;
}
.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.App > h1 {
  font-family: "Orbitron", sans-serif;
  color: var(--bright-coral);
  text-align: center;
  text-shadow: 3px 6px #37422a;
}
.add-log__button {
  background-color: #77cfd2;
  color: black;
  border: solid;
  border-radius: 8px;
  padding: 4px 14px;
  z-index: 999;
  box-shadow: 2px 3px 4px black;
  cursor: pointer;
}
.logs {
  display: flex;
}
.log-section {
  padding: 10px;
}
.error__text {
  color: red;
}
.warning__text {
  color: yellow;
}
.debug__text {
  color: #d800ff;
}
.log__text {
  color: greenyellow;
}
.log-icon {
  padding: 0px 2px;
}
